<!--[form:game]-->

<div id="right_panel" class="right-panel">
  <div id="score_panel" class="score-panel">
    <h1>Game Score</h1>
    <ul id="score_listing" class="score-listing">
    <% @game.players.each do |player| %>
      <li>(Pic Here)
          (Name Here):
          <span id="gamescore_<%= player.id %>"><%= player.score %></span></li>
    <% end %>
    </ul>
  </div>
  <div id="activity_panel" class="activity-panel">
    <h1>Game Activity</h1>
    <ul id="set_records" class="set-records">
    <% @game.sets.each do |set| %>
      <li><%= render_set_found_text(set).html_safe %></li>
    <% end %>
    <% if @game.selection_count == 0 %>
      <li class="dummy-first-node"><%= render_set_found_text(nil).html_safe %></li>
    <% end %>
    </ul>
  </div>
</div>
